.detail-container {
  height: calc(100vh - 5rem);
}

.detail-content {
  display: flex;
  flex-direction: column;
  background-image:
  linear-gradient(to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0));
    height: calc(100vh - 5rem);
  overflow: auto;
}

.detail-close {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: rgba(250, 250, 250, .2) solid 1px;
}

.detail-header {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  flex: 1;
  margin: 0;
  margin-left: 3rem;
}

.close-btn {
  border: none;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  filter: drop-shadow(0 0 0.75rem #000000);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  color: #ffffff;
  font-size: 2.25rem;
}

.detail-card-container {
  display: flex;
  width: 100vw;
  /* height: 100vh; */
  margin-top: 8rem;
  align-items: center;
}

.detail-card {
  max-width: 50%;
  padding: 1.5rem; 
}

.detail-title {
  font-size: 3rem;
  margin-bottom: 0;
}

.detail-date-rating {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.seperator {
  margin: 0 1rem;
}

.star, .schedule {
  font-size: 1rem;
  margin: 0;
  margin-right: .25rem;
}

.genre-container {
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
}

.genre-tag {
  border-radius: 1.25rem;
  background-color: #333333;
  border: #666666 solid 1px;
}

.genre-tag p {
  margin: 0;
  text-transform: uppercase;
  font-size: .75rem;
  padding: .5rem .75rem;
}

.detail-overview {
  margin-top: 2rem;
}

.detail-money-container {
  border-top: rgba(250, 250, 250, .5) solid 1px;
  padding-top: 2rem;
  margin-top: 2rem;
}

.detail-money {
  margin: 0;
}
