html {
  font-family: 'Mulish', sans-serif;
  color: white;
  background-color: #000000;
}

body {
  background: linear-gradient(black, #9c5d9c);
  color: white;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding-left: 2rem;
  background-color: rgba(0, 0, 0, .85);
}

.link-style {
  text-decoration: none;
  color: #ffffff;
}
