html {
  font-family: 'Mulish', sans-serif;
  color: white;
  background-color: #000000;
  }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding-left: 2rem;
  background-color: rgba(0, 0, 0, .85);
}

.search {
justify-self: flex-start;
}

.link-style {
  text-decoration: none;
  color: #ffffff;
}
