.movies-container {
  height: calc(100vh - 5rem);
  top: 5rem;
  bottom: 0;
  padding: 0 2rem;
  overflow: scroll;

}

.movies-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}
