html {
  font-family: 'Mulish', sans-serif;
}

body {
  background-color: black;
  color: white;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 5rem;
  padding-left: 2rem;
  background-color: #000000;
  z-index: 100;
}

